.button-module.multi {
  display: flex;
}
.button-module .button-link{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #fd8550;
  border: 2px solid rgb(253, 133, 80);
  border-radius: 50px;
  color: #ffffff;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 14px 42px;
  margin: 0px 16px 0px 0px;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
.button-module .button-link:first-child:last-child {
  margin: 0px 0px 0px 0px;
}
.button-module .button-link path{
  fill:currentcolor;
}
.button-module .button-link:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(253, 133, 80);
}
.button-module .button-link:hover path{
  fill:currentcolor;
}
.button-module .normal-link .button-link {
  color: rgb(80, 137, 253);
  font-family: Avenir;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
  padding: 0;
  border: 0;
  background: transparent;
  justify-content: flex-start;
  align-items: unset;
  white-space: normal;
  text-align: left;
}

.button-module .normal-link .button-link .text__Arrow-z6idrg-2.iCMTqb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  margin-top: 7px;
  margin-right: 10px;
}
.button-module .normal-link .button-link span {
  font-weight: 600;
}

.button-module .normal-link .button-link:hover {
  color: rgb(253, 133, 80);
}
.button-module .button-link .button__Arrow {
  display: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0px, -50%);
  transition: transform 0.3s ease 0s;
}
.button-module .button-link:hover .button__Arrow {
  transform: translate(3px, -50%);
}

.button-module .button-link.btn_widthfull_width {
  width: 100%;
}
.button-module .button-module-item.btn_widthfull_width {
  width: 100%;
  margin-right: 0;
}


/* Popup Styles */
.button-module .btn-module-popup {
  position: fixed;
  z-index: 9999;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button-module .btn-module-popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.button-module .btn-module-popup-inner {
  transition: height .5s ease 0s,max-width .5s ease 0s;
  background-color: #fff;
  position: relative;
  max-height: -webkit-fill-available;
  pointer-events: all;
  max-width: 600px;
  overflow-y: auto;
}
.button-module .btn-module-popup-form {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 25px 15px;
}
.button-module .btn-module-popup-form > a.btn-module-popup-close {
  display: none !important
}
.button-module .btn-module-popup .btn-module-popup-form a.btn-module-popup-close {
  font: inherit;
  color: #5089fd;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-left: 1em;
}
.button-module .btn-module-popup .btn-module-popup-form a.btn-module-popup-close:hover {
  color: rgb(80, 137, 253);
}
.button-module .btn-module-popup .btn-module-popup-form a.btn-module-popup-close {
  width: 72%;
  text-align: center;
}

@media (min-width: 576px){
  .button-module .button-link{
    width: auto;
  }
  .button-module .button-module-item:not(:last-child) {
    margin-right: 16px;
  }
}
@media (min-width: 768px){
  .button-module .button-link .button__Arrow {
    display: flex;
  }
  .button-module .btn-module-popup-form {
    padding: 50px;
  }
  .button-module .btn-module-popup-inner {
    padding-top: 0px;
    max-height: 90vh;
  }
}
@media (max-width: 991px){
  .button-module .button-link{
    white-space: normal;
  }
}
@media (max-width: 575px){
  .button-module .button-module-item {
    width: 100%;
  }  
  .button-module .button-module-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .button-module {
    display: block !important;
  }
  .button-module .button-module-item > span, 
  .button-module .button-module-item > span > span, 
  .button-module .button-module-item > span > span > span {
    width: 100%;
    display: block;
  }
  .button-module .button-module-item > span > span > span > .cta_button {
    display: block;
    width: 100%;
    box-sizing: border-box !important;
  }
}